body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  color: black;
}

.main{
  border:solid;
  border-width: 1px;
  
}

.first{
  width:20%;
  margin:1rem;
  max-width: 250px;
}

.div-photo{
  margin: 0.3rem;
}

.photo{
  width: 100%;
}

.introduction{
  margin: 0.3rem;
  color:grey;
  
}

.content{
  padding: 0.3rem;
  margin: 1rem;
  width: 55%;
  max-width: 1000px;
  
}
