body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  color: black;
}

.main{
  border:solid;
  border-width: 1px;
  
}

.first{
  max-width: 250px;
}

.photo{
  width: 100%;
}

.introduction{
  color:grey;
  
}

.content{
  max-width: 1000px;
  
}
