body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  color: black;
}

.main{
  border:solid;
  border-width: 1px;
  
}

.first{
  
}

.content{
  
}
